.popup {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s ease-in;
  z-index: 5;
}

@media screen and (max-width: 767px) {
  .popup {
    padding-left: 19px;
    padding-right: 19px;
    box-sizing: border-box;
  }
}