.filter {
  width: 100%;
  margin: 0 auto 92px auto;
}
/**
@media screen and (max-width: 1279px) {
  .places {
    width: calc(100% - 2*48px);
  }
}

@media screen and (max-width: 1023px) {
  .places {
    width: calc(100% - 2*24px);
    margin-bottom: 90px;
  }
}

@media screen and (max-width: 767px) {
  .places {
    width: 100%;
    margin-bottom: 66px;
  }
}
