.page {
  display: grid;
  grid-template-columns: 290px 1fr;
  grid-template-areas: 
        "sidebar header"
        "sidebar main"
        "sidebar main"
        "sidebar footer";
  font-family: 'Inter', 'Arial', sans-serif;
  background-color: #f3f5f6;
  box-sizing: border-box;
}


@media screen and (max-width: 1279px) {
    .page {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
              "sidebar sidebar"
              "header header"
              "main main"
              "footer footer";
    }
}

/*
@media screen and (max-width: 1279px) {
    .place {
        grid-template-columns: 440px 1fr;
        gap: 48px 32px;
    }

    .place:last-of-type {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 1023px) {
    .place {
        grid-template-columns: 340px 1fr;
        gap: 48px 28px;
        margin-bottom: 73px;
    }

    .place:last-of-type {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 767px) {
    .place {
        grid-template-columns: 1fr;
        gap: 32px;
        margin-bottom: 50px;
    }

    .place:last-of-type {
        margin-bottom: 0;
    }
}
*/