.news-item__image {
  width: 90%;
  max-height: 500px;
  align-self: stretch;
  margin-bottom: 30px;
  margin-top: 15px;
  object-fit: cover;
  object-position: center;
  image-rendering: crisp-edges;
  image-rendering: -webkit-optimize-contrast;
}

@media screen and (max-width: 1023px) {
    .news-item__image {
        width: 100%;
      }
}

