.warranty__item_position_top-right {
  border-left: 1px dotted #E0E0E0;
  border-bottom: 1px dotted #E0E0E0;
}

@media screen and (max-width: 1023px) {
  .warranty__item_position_top-right {
    border-left: none;
    border-right: 1px dotted #E0E0E0;
  }
}

@media screen and (max-width: 767px) {
  .warranty__item_position_top-right {
    border-right: none;
  }
}
