.button_type_more-text {
  padding-left: 20px;
  padding-right: 20px;
  height: 42px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  border: 1px dotted #E60094;
  text-decoration: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color:#E60094;
  cursor: pointer;
  width: fit-content;
  margin-top: 30px;
}
/*
@media screen and (max-width: 1279px) {
    .place {
        grid-template-columns: 440px 1fr;
        gap: 48px 32px;
    }

    .place:last-of-type {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 1023px) {
    .place {
        grid-template-columns: 340px 1fr;
        gap: 48px 28px;
        margin-bottom: 73px;
    }

    .place:last-of-type {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 767px) {
    .place {
        grid-template-columns: 1fr;
        gap: 32px;
        margin-bottom: 50px;
    }

    .place:last-of-type {
        margin-bottom: 0;
    }
}
