.slider__slider {
  position: relative;
  left: 0;
  height: 100%;
  width: 1000%;
  transition: 300ms ease-in-out;
  background-position: center;
}

@media(max-width: 950px){
  .slider__slider {
    background-position: center;
  }
}