.distribution__title {
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 48px;
  color: #000000;
  max-width: 350px;
  margin: 0 0 47px 0;
}

/*
@media screen and (max-width: 767px) {
  .lead__title {
    margin: 0 auto 16px auto;
    font-size: 40px;
    line-height: 44px;
    max-width: 288px;
  }
}