.menu-link__button {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 36px;
  border: 1px dotted #7b51d4;
  box-sizing: border-box;
  border-radius: 30px;
  padding-left: 20px;
  background-color: #4012A6;
  color: white;
  font-weight: normal;
  font-size: 16px;
  transition: background-color 0.1s ease-in;
}
/*
@media screen and (max-width: 767px) {
    .place__website {
      width: calc(100% - 2*16px);
      margin-left: auto;
      margin-right: auto;
    }
  }