.warranty__item {
  width: 100%;
  padding: 40px 20px 40px 20px;
  box-sizing: border-box;
}
/*
@media screen and (max-width: 1279px) {
  .places {
    width: calc(100% - 2*48px);
  }
}

@media screen and (max-width: 1023px) {
  .places {
    width: calc(100% - 2*24px);
    margin-bottom: 90px;
  }
}

@media screen and (max-width: 767px) {
  .places {
    width: 100%;
    margin-bottom: 66px;
  }
}
