.card-detail__link-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  box-sizing: border-box;
  width: 100%;
}

@media screen and (max-width: 1506px) {
  .card-detail__link-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}