.number__title {
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
  color: white;
  margin: -5px 0 5px 0;
}

@media screen and (max-width: 900px) {
  .number__title {
      font-size: 36px;
      line-height: 36px;
    }
  }