.card {
  margin: 0;
  background: #FFFFFF;
  box-shadow: 0px 4px 30px rgba(106, 114, 159, 0.2);
  border-radius: 10px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-self: stretch;
  padding: 0px;
  box-sizing: border-box;
  overflow: hidden;
}